/* Playlist Button */
.add-button {
    /* background: #001aff; */
    /* border: none; */
    padding-top: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-top:0px
    /* border-radius: 3px; */
}

/* Playlist Section */
.playlist-section {
    text-align: center;
    position: relative;
    padding: 20px;
    font-family: Outfit;
    font-size: 14px; /* You can adjust the font size if necessary */
    font-weight: 500;
    
}


/* Shuffle Button */
.shuffle-button {
    position: absolute;
    top: 0px;
    right: 30px;
    /* background: grey; */
    color: rgb(159, 159, 159);
    border: none;
    padding: 2px 10px; /* Adjusted padding for smaller size */
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px; /* Adjusted font size */
}


.shuffle-button i {
    margin-right: 0; /* Removing any margin around the icon */
}

/* Playlist Container */
.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #E1E1E1;
    padding: 7px 7px 2px 7px;
    border-radius: 6px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Problem Item */
.problem-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 0.5px;
    padding: 5px;
    background-color: #f8f8f8;
    /* border-radius: 6px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Problem Link */
.problem-link {
    font-size: 13px;
    text-decoration: none;
    color: #0000CC;
    font-weight: bold;
    flex-grow: 1;
}

/* .problem-link:hover {
    color: ;
} */

/* Playlist Section Font */
.playlist-section, 
.playlist-container, 
.problem-item, 
.problem-link {
    font-family: 'Outfit', sans-serif; /* Apply Outfit font */
    font-weight: 500;
}

/* Solved Problem */
/* .solved-problem {
    color: green;
} */

/* Remove Button */
.remove-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: grey;
}

.remove-button i {
    font-size: 18px;
}

/* Bookmark Button */
.bookmark-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: grey; /* Yellow for bookmark */
}

.bookmark-button i {
    font-size: 18px;
}


